name: Self Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: test_self_hosted_runner
    name: Build Project

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Dependencies
        uses: npm install

      - name: Build the project
        uses: npm run build
